<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="DynamicInterop" version="0.9.1" targetFramework="net472" />
  <package id="Microsoft.CSharp" version="4.5.0" targetFramework="net472" />
  <package id="Microsoft.Win32.Registry" version="4.5.0" targetFramework="net472" />
  <package id="System.Security.AccessControl" version="4.5.0" targetFramework="net472" />
  <package id="System.Security.Principal.Windows" version="4.5.0" targetFramework="net472" />
</packages>