<?xml version="1.0"?>
<configuration>
    <!-- This is a sample app.config you may need to use to remap libdl on some Unix platforms to overcome an issue where it cannot be successfully opened -->
    <runtime>
        <loadFromRemoteSources enabled="true"/>
    </runtime>
    <startup>
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/>
    </startup>
    <dllmap dll="libdl">
        <dllentry dll="libdlwrap.so" name="dlopen" target="dlwrap_dlopen" />
        <dllentry dll="libdlwrap.so" name="dlerror" target="dlwrap_dlerror" />
        <dllentry dll="libdlwrap.so" name="dlclose" target="dlwrap_dlclose" />
        <dllentry dll="libdlwrap.so" name="dlsym" target="dlwrap_dlsym" />
    </dllmap>
</configuration>
