<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="BasicHttpBinding_IProcessMonitor" />
                <binding name="BasicHttpBinding_IROutputService" />
                <binding name="BasicHttpBinding_IRLanguageService" />
                <binding name="BasicHttpBinding_IRManagementService" />
                <binding name="BasicHttpBinding_IRLanguageService1" />
                <binding name="BasicHttpBinding_IRManagementService1" />
                <binding name="BasicHttpBinding_IROutputService1" />
            </basicHttpBinding>
            <netNamedPipeBinding>
                <binding name="NetNamedPipeBinding_IProcessMonitor" />
            </netNamedPipeBinding>
        </bindings>
        <client>
            <endpoint address="http://localhost:10175/ProcessMonitor" binding="basicHttpBinding"
                bindingConfiguration="BasicHttpBinding_IProcessMonitor" contract="ProcessMonitor.IProcessMonitor"
                name="BasicHttpBinding_IProcessMonitor" />
            <endpoint address="http://localhost:8733/Design_Time_Addresses/ROutputService"
                binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IROutputService"
                contract="ROutputService.IROutputService" name="BasicHttpBinding_IROutputService" />
            <endpoint address="http://localhost:8733/Design_Time_Addresses/RLanguageService"
                binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IRLanguageService"
                contract="RLanguageService.IRLanguageService" name="BasicHttpBinding_IRLanguageService" />
            <endpoint address="http://localhost:8733/Design_Time_Addresses/RManagementService"
                binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IRManagementService"
                contract="RManagementService.IRManagementService" name="BasicHttpBinding_IRManagementService" />
            <endpoint address="http://localhost:8733/Design_Time_Addresses/RLanguageService"
                binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IRLanguageService1"
                contract="RLanguageService.IRLanguageService" name="BasicHttpBinding_IRLanguageService1" />
            <endpoint address="http://localhost:8733/Design_Time_Addresses/RManagementService"
                binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IRManagementService1"
                contract="RManagementService.IRManagementService" name="BasicHttpBinding_IRManagementService1" />
            <endpoint address="http://localhost:8733/Design_Time_Addresses/ROutputService"
                binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IROutputService1"
                contract="ROutputService.IROutputService" name="BasicHttpBinding_IROutputService1" />
            <endpoint address="net.pipe://localhost/ProcessMonitor/16" binding="netNamedPipeBinding"
                bindingConfiguration="NetNamedPipeBinding_IProcessMonitor"
                contract="ProcessMonitor.IProcessMonitor" name="NetNamedPipeBinding_IProcessMonitor">
                <identity>
                    <userPrincipalName value="RITCH-DESKTOP\Ritch" />
                </identity>
            </endpoint>
        </client>
    </system.serviceModel>
</configuration>