<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <system.web>
    <compilation debug="true"/>
  </system.web>
  <system.serviceModel>
    <services>
      <service name="RDotNet.Server.Services.RLanguageService">
        <endpoint address="http://localhost:8733/Design_Time_Addresses/RLanguageService" binding="basicHttpBinding" contract="RDotNet.Server.Services.IRLanguageService"/>
        <endpoint address="http://localhost:8733/Design_Time_Addresses/RLanguageService/mex" binding="mexHttpBinding" contract="IMetadataExchange"/>
      </service>
      <service name="RDotNet.Server.Services.RManagementService">
        <endpoint address="http://localhost:8733/Design_Time_Addresses/RManagementService" binding="basicHttpBinding" contract="RDotNet.Server.Services.IRManagementService"/>
        <endpoint address="http://localhost:8733/Design_Time_Addresses/RManagementService/mex" binding="mexHttpBinding" contract="IMetadataExchange"/>
      </service>
      <service name="RDotNet.Server.Services.ROutputService">
        <endpoint address="http://localhost:8733/Design_Time_Addresses/ROutputService" binding="basicHttpBinding" contract="RDotNet.Server.Services.IROutputService"/>
        <endpoint address="http://localhost:8733/Design_Time_Addresses/ROutputService/mex" binding="mexHttpBinding" contract="IMetadataExchange"/>
      </service>
    </services>
    <behaviors>
      <serviceBehaviors>
        <behavior>
          <serviceMetadata/>
          <serviceDebug includeExceptionDetailInFaults="True"/>
        </behavior>
      </serviceBehaviors>
    </behaviors>
  </system.serviceModel>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5"/>
  </startup>
</configuration>
