<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
    </startup>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="BasicHttpBinding_IRManagementService" />
                <binding name="BasicHttpBinding_IRManagementService1" />
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://localhost:8733/Design_Time_Addresses/RManagementService"
                binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IRManagementService"
                contract="RManagementService.IRManagementService" name="BasicHttpBinding_IRManagementService" />
            <endpoint address="http://localhost:8733/Design_Time_Addresses/RManagementService"
                binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IRManagementService1"
                contract="RManagementService.IRManagementService" name="BasicHttpBinding_IRManagementService1" />
        </client>
    </system.serviceModel>
</configuration>
